@charset 'UTF-8';
body#price{
  main {
    .top-image {
      width: 100%;
      height: 226px;
      background: url(../images/price-mainvisual.png) center center / cover no-repeat;
      position: relative;
      @include max-screen(768px) {
        display: none;
      }
      .inner {
        max-width: 1000px;
        .pc-top-image {
          width: 214px;
          height: 33px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .sp-top-image {
      display: none;
      @include max-screen(768px) {
        display: block;
        width: auto;
        padding-top: 99px;
      }
    }

    .container {
      max-width: 1000px;
      margin: 0 auto;
      @include max-screen(768px) {
        width: auto;
        margin: 0 15px;
      }
      .top-text {
        margin-top: 120px;
        padding-bottom: 12px;
        border-bottom: 1px solid #EA993F;
        @include max-screen(768px) {
          margin-right: 20px;
          line-height: 2em;
          margin-top: 30px;
          border-bottom: none;
          width: auto;
        }
        ul {
          position: relative;
          left: 20px;
          li {
            @include font-size(14);
            list-style-type: disc;
            margin-bottom: 6px;
            @include max-screen(768px) {
              @include font-size(12);
            }
          }
        }
      }
      .komon {
        background: linear-gradient(to right, #EA993F, #EA993F, #fff);
        height: 50px;
        display: table;
        width: 100%;
        margin-top: 65px;
        @include max-screen(768px){
          margin-top: 5px;
          height: 30px;
        }
        h2 {
          display: table-cell;
          vertical-align: middle;
          @include font-size(22);
          font-weight: bold;
          color: #FFF;
          padding-left: 15px;
          @include max-screen(768px) {
            @include font-size(13);
          }
        }
      }
      .komon-table {
        margin-top: 40px;
        @include max-screen(768px){
          margin-top: 20px;
        }
        table {
          width: 1000px;
          @include max-screen(768px){
            width: 100%;
          }
          tr {
            height: 46px;
            @include max-screen(768px){
              height: 40px;
            }
            th {
              width: 50%;
              text-align: center;
              @include font-size(16);
              font-weight: bold;
              color: #814F36;
              border-bottom: 1px solid #9F9F9F;
              background: #F9E0C5;
              letter-spacing: 0.2em;
              @include max-screen(768px){
                @include font-size(12);
                height: 46px;
              }
              &:last-child {
                border-left: 1px solid #9F9F9F;
              }
            }
            td {
              width: 50%;
              height: 40px;
              text-align: center;
              border-bottom: 1px solid #9F9F9F;
              background: #F9F3DF;
              @include font-size(16);
              @include max-screen(768px){
                @include font-size(12);
                height: 30px;
              }
              &:last-child {
                border-left: 1px solid #9F9F9F;
              }
              .padding-left {
                padding-left: 1em;
              }
            }
          }
        }
      }
      .part-text {
        @include font-size(14);
        text-align: right;
        margin-top: 15px;
        @include max-screen(768px){
          text-align: left;
          @include font-size(10);
          line-height: 1.6em;
        }
        .kaigyou {
          @include max-screen(768px){
            display: block;
            margin-left: 1em;
          }
        }
      }
      h3 {
        @include font-size(16);
        font-weight: bold;
        color: #EA993F;
        position: relative;
        @include max-screen(768px){
          margin-top: 25px;
          @include font-size(14);
        }
        &:before {
          content: "";
          background: #EA993F;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: block;
          float: left;
          margin-right: 5px;
        }
      }
      .part-list {
        margin-top: 25px;
        margin-bottom: 130px;
        @include max-screen(768px){
          margin-top: 15px;
          margin-bottom: 50px;
        }
        li {
          list-style-type: decimal;
          @include font-size(14);
          margin-bottom: 8px;
          margin-left: 20px;
          padding-left: 10px;
          @include max-screen(768px){
            @include font-size(12);
          }
        }
      }
      .allowance {
        width: 1000px;
        @include font-size(16);
        background: #F9F3DF;
        margin-top: 40px;
        @include max-screen(768px){
          @include font-size(12);
          margin-top: 20px;
          width: 100%;
        }
        tr {
          .brown {
            font-weight: bold;
            color:#814F36;
            letter-spacing: 0.2em;
          }
          .red {
            background: #F9E0C5;
          }
          .kaigyou {
            @include max-screen(768px){
            display: block;
          }
          }
          th {
            text-align: center;
            border-right: 1px solid #9F9F9F;
            border-bottom: 1px solid #9F9F9F;
          }
          td {
            text-align: center;
            border-right: 1px solid #9F9F9F;
            border-bottom: 1px solid #9F9F9F;
          }
          .l-1 {
            width:13.5%;
            @include max-screen(768px){
            width: 23%;
          }
          }
          .l-2 {
            width:26.4%;
            @include max-screen(768px){
            width: 23%;
          }
          }

          .r-2 {
            width:35.2%;
            @include max-screen(768px){
            width: 23%;
          }
          }
          .left {
            @include max-screen(768px){
            text-align: left;
            line-height: 1.3em;
            @include font-size(11);
          }
          }
          .bottom-none {
            border-bottom: none;
            .kaigyou {
              @include max-screen(768px){
              display: block;
            }
            }
          }
          .right-none {
            border-right: none;
          }

        }
        .tr-top {
          height: 46px;
        }
        .tr-body {
          height: 40px;
        }
      }

      .other {
        width: 1000px;
        @include font-size(16);
        background: #F9F3DF;
        margin-top: 40px;
        margin-bottom: 130px;
        @include max-screen(768px){
          margin-top: 20px;
          margin-bottom: 50px;
          width: 100%;
            @include font-size(12);
            margin-top: 20px;
        }
        .tr-top {
          height: 46px;
        }
        .tr-body {
          height: 40px;
        }
        .l-1 {
          width: 13.6%;
          @include max-screen(768px){
            width: 25%;
          }
        }
        .l-2 {
          width: 26.4%;
          @include max-screen(768px){
            width: 40%;
          }
        }
        .left {
          text-align: left;
          padding-left: 60px;
          @include max-screen(768px){
          text-align: left;
          padding-left: 5px;
        }
        }
        tr {
          .brown {
            font-weight: bold;
            color:#814F36;
            letter-spacing: 0.2em;
          }
          .red {
            background:#F9E0C5;
          }
          .border-bottom {
            border-bottom: 1px solid #9F9F9F;
          }
          .border-right {
            border-right: 1px solid #9F9F9F;
          }

          th {
            text-align: center;
          }
          td {
            text-align: center;
            .kaigyou {
              @include max-screen(768px){
                display: block;
              }
            }
          }
        }
      }

      .table4 {
        width: 1000px;
        @include font-size(16);
        background: #F9F3DF;
        margin-top: 40px;
        @include max-screen(768px){
          margin-top: 20px;
          width: 100%;
          @include font-size(12);
        }
        thead {
          tr {
            .brown {
              font-weight: bold;
              color: #814F36;
            }
            .red {
              background: #F9E0C5;
            }
            th {
              height: 46px;
              text-align: center;
              border-bottom: 1px solid #9F9F9F;
              border-right: 1px solid #9F9F9F;
              @include max-screen(768px){
                letter-spacing: 0.2em;
              }
              &:last-child {
                border-right: none;
              }
            }
            td {
              height: 46px;
            }
          }
        }
        tbody {
          tr {
            th {
              height: 40px;
              border-bottom: 1px solid #9F9F9F;
              border-right: 1px solid #9F9F9F;
              padding-left: 115px;
              font-weight: bold;
              color: #814F36;
              letter-spacing: 0.2em;
              width: 50%;
              @include max-screen(768px){
                padding-left: 10px;
              }
              &:last-child {
                border-bottom: none;
                border-right: none;
              }
            }
            td {
              height: 40px;
              text-align: center;
              border-bottom: 1px solid #9F9F9F;
            }
          }
        }
      }
    }

    .ask {
      width: 420px;
      height: 48px;
      background: #73C0D5;
      border-radius: 13px;
      padding-top: 15px;
      margin: 0 auto;
      margin-top: 65px;
      margin-bottom: 90px;
      @include max-screen(768px){
        width: auto;
        margin: 0 15px;
        position: relative;
        margin-top: 50px;
        margin-bottom: 60px;
      }
      p {
        font-size: 21px;
        font-weight: bold;
        color: #FFF;
        position: relative;
        padding-left: 90px;
        letter-spacing: 0.06em;
        @include max-screen(768px){
          font-size: 17px;
          position: static;
          padding-left: 10%;
          text-align: center;

        }
        &:before {
          content: "";
          background: url(../images/mail-icon.png) center center / cover no-repeat;
          width: 32px;
          height: 24px;
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10%;
          @include max-screen(768px){
            left: 7%;
            width: 23px;
            height: 18px;
          }
        }
      }
    }














  }
}
