@charset 'UTF-8';
body#profile{
  main {
    color: #3C3C3C;
    @include max-screen(768px){

      width: 100%;

    }


    .sp-top-image {
      img {
        display: none;
        @include max-screen(768px){
          display: block;
          width: 100%;
          height: auto;
          margin-top: 99px;
        }
      }
    }

    .top-image {
      width: 100%;
      height: 225px;
      background: url(../images/profile-mainvisual.png) center bottom / cover no-repeat;
      position: relative;
      @include max-screen(768px){
        display: none;
      }



      img {
        position: absolute;
        width: 215px;
        height: 33px;
        top: 95px;

      }

    }




    .sp-profile-image {
      display: none;
      @include max-screen(768px){
        display: none;
        float: right;
        //position: absolute;
        //top: -50px;
        z-index: 5;
        width: 53%;
        position: relative;
        top: 20px;
      }
    }



    .profile {
      width: 1000px;
      margin: 0 auto;
      margin-top: 95px;
      @include max-screen(768px){
        width: 100%;
        position: relative;
        z-index: 2;
        margin-top: 15px;
      }



      .sp-top-profile {
        display: none;
        @include max-screen(768px){
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
      }


      .top-profile {
        margin-bottom: 32px;
        @include max-screen(768px){
          display: none;
        }
        h2 {
          font-size: 25px;
          color: #814F36;
          font-weight: bold;
          padding-bottom: 10px;
          border-bottom: 2px solid #EA993F;
          letter-spacing: 0.15em;
          @include max-screen(768px){
            margin: 0 37px;
            font-size: 35px;
            letter-spacing: 0em;
            padding-bottom: 15px;
            border-bottom: 3px solid #EA993F;
          }
        }
      }

      .box {
        @include pie-clearfix;
        .left-profile {
          width: 532px;
          float: left;
          @include max-screen(768px){
            float: none;
            width: 100%;
          }




          .profile-name {
            @include max-screen(768px){
              padding: 0px 40px;
              display: none;
            }
            p {
              margin-bottom: 8px;
              @include max-screen(768px){
                display: none;
              }
              .job {
                font-size: 14px;
                color: #814F36;
                letter-spacing: 0.1em;
                position: relative;
                top: -5px;
                margin-right: 10px;
                @include max-screen(768px){
                  display: block;
                  font-size: 22px;
                  margin-bottom: 15px;
                  letter-spacing: 0em;
                }
              }
              .name {
                font-size: 27px;
                color: #814F36;
                letter-spacing: 0.1em;
                @include max-screen(768px){
                  font-size: 35px;
                  margin-top: 20px;
                  letter-spacing: 0.1em;
                }
              }
            }
            img {
              margin-left: 120px;
              width: 110px;
              @include max-screen(768px){
                margin-left: 0;
                width: 170px;
                margin-top: 10px;
              }
            }
          }

          .top-text {
            color: #EA993F;
            font-weight: bold;
            font-size: 15px;
            margin-top: 25px;
            line-height: 1.4em;
            letter-spacing: 0.03em;
            @include max-screen(768px){
              margin: 0 30px;
              margin-top: 50px;
              margin-bottom: 20px;
              font-size: 27px;
              letter-spacing: 0em;
              line-height: 1.7em;
              display: none;
            }
          }

          p {
            font-size: 14px;
            margin-bottom: 20px;
            //letter-spacing: 0.0005em;
            line-height: 1.7em;
            @include max-screen(768px){
              margin: 0 15px;
              font-size: 12px;
            }
          }

        }



        .right-profile {
          float: right;
          width: 370px;
          @include max-screen(768px){
            float: none;
            width: auto;
            margin: 0 15px;
          }
          figure {
            @include max-screen(768px){
              display: none;
            }
            img {
              width: 370px;
              text-align: right;
              margin-top: 0;
            }
            figcaption {
              text-align: right;
              font-size: 12px;
              margin-top: 10px;
            }
          }
          img {
            width: 330px;
            margin: 0 auto;
            margin-top: 20px;
            @include max-screen(768px){
              width: auto;
              margin-bottom: 40px;
            }
          }
        }




      }


    }






    .gaiyou {
      margin: 0 auto;
      width: 1000px;
      margin-top: 70px;
      @include max-screen(768px){
        margin: 0 15px;
        width: auto;
      }
      .gaiyou-title {
        margin-bottom: 32px;
        h2 {
          font-size: 25px;
          color: #814F36;
          font-weight: bold;
          padding-bottom: 10px;
          border-bottom: 2px solid #EA993F;
          letter-spacing: 0.15em;
          @include max-screen(768px){
            font-size: 14px;
          }
        }
      }
      table {
        @include max-screen(768px){
          width: 100%;
        }
        tr {
          font-size: 14px;

          border-bottom: 1px dashed #EA993F;
          @include max-screen(768px){
            font-size: 12px;
          }
          td {
            vertical-align: middle;
            padding: 15px 0;
            line-height: 1.8em;
            @include max-screen(768px){
              padding: 5px 0;
              vertical-align: top;
            }

          }
          .list-title {
            width: 230px;
            position: relative;
            color: #EA993F;
            font-weight: bold;



            @include max-screen(768px){
              width: 35%;

            }
            &:before {
              content: "";
              background: #EA993F;
              border-radius: 50%;
              display: inline-block;
              width: 13px;
              height: 13px;
              margin-right: 5px;
              //position: absolute;
            }


          }
          .sp-padding {
            @include max-screen(768px){
              padding-bottom: 35px;

            }
          }

          .list-naiyou {
            width: 770px;
            @include max-screen(768px){
              width: 65%;

            }
            .kaigyou {
              @include max-screen(768px){
                display: block;
              }
            }
            .info {
              color: #EA993F;
            }
            .small {
              font-size: 11px;
              @include max-screen(768px){
                display: none;
              }
            }
            .sp-small {
              display: none;
              @include max-screen(768px){
                font-size: 9px;
                display: block;
                position: absolute;
                left:0px;
                padding-left: 20px;
                padding-bottom: 10px;
                line-height: 1.5em;
              }
            }
          }
        }
        #list-last {
          border-bottom: none;
        }
      }

    }







    .seminar {
      margin: 0 auto;
      margin-top: 70px;
      width: 1000px;
      @include max-screen(768px){
        margin: 0 15px;
        width: auto;
        margin-top: 40px;
      }
      .seminar-title {
        margin-bottom: 32px;
        padding-bottom: 10px;
        border-bottom: 2px solid #EA993F;
        @include pie-clearfix;
        @include max-screen(768px){
          margin-bottom: 14px;
        }
        h2 {
          font-size: 25px;
          color: #814F36;
          font-weight: bold;
          letter-spacing: 0.15em;
          display: inline;
          @include max-screen(768px){
            font-size: 14px;
          }
        }
        .button-seminar {
          display: inline;
          float: right;
          font-size: 14px;
          position: relative;
          top: 10px;
          transition: 0.5s;
          cursor: default;
          &:hover {
            color: #EA993F;
            transition: 0.5s;
          }
          @include max-screen(768px){
            font-size: 12px;
            top: 0;
          }
          .look {
            display: block;
          }
          .look.open {
            display: none;
          }
          .hide {
            display: none;
          }
          .hide.open {
            display: block;
          }
        }
      }
      .seminar-list {
        font-size: 14px;
        @include max-screen(768px){
          font-size: 12px;
        }
        ul {
          width: 1000px;
          @include max-screen(768px){
            width: 100%;
          }
          li {
            @include pie-clearfix;
            margin-bottom: 21px;
            .nen {
              width: 105px;
              display: block;
              float: left;
              @include max-screen(768px){
                width: 25%;
                margin-bottom: 7px;
              }
              &:before {
                content: "";
                background: #EA993F;
                border-radius: 50%;
                display: inline-block;
                width: 13px;
                height: 13px;
                margin-right: 5px;
                //position: absolute;
              }
            }
            .getsu {
              width: 90px;
              //margin-left: 20px;
              display: block;
              float: left;
            }
            .nen2 {
              width: 195px;
              display: block;
              float: left;
            }
            .naiyou {
              width: 805px;
              display: block;
              float: left;
              line-height: 1.3em;
              @include max-screen(768px){
                width: 100%;
              }
              .orange-bold {
                color: #EA993F;
                font-weight: bold;
                @include max-screen(768px){
                  display: block;
                  margin-bottom: 7px;
                }
              }
              .kaigyou {
                margin-left: 126px;
                @include max-screen(768px){
                  margin-left: 0px;
                }
              }
            }
          }
        }
      }
    }







    .ask {
      width: 420px;
      height: 48px;
      background: #73C0D5;
      border-radius: 13px;
      padding-top: 15px;
      margin: 0 auto;
      margin-top: 65px;
      margin-bottom: 90px;
      @include max-screen(768px){
        width: auto;
        margin: 0 15px;
        position: relative;
        margin-top: 50px;
        margin-bottom: 60px;
      }
      p {
        font-size: 21px;
        font-weight: bold;
        color: #FFF;
        position: relative;
        padding-left: 90px;
        letter-spacing: 0.06em;
        @include max-screen(768px){
          font-size: 17px;
          position: static;
          padding-left: 10%;
          text-align: center;

        }
        &:before {
          content: "";
          background: url(../images/mail-icon.png) center center / cover no-repeat;
          width: 32px;
          height: 24px;
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10%;
          @include max-screen(768px){
            left: 7%;
            width: 23px;
            height: 18px;
          }
        }
      }
    }






      .container1000 {
        width: 1000px;
        margin: 0 auto;
        @include max-screen(768px){
          width: 100%;
          padding: 0;
        }
      }








  }
}
