@charset 'UTF-8';
body#service{
  main {
    color: #3C3C3C;
    @include max-screen(768px){
      width: 100%;
    }
    .sp-top-image {
      display: none;
      @include max-screen(768px){
        display: block;
        width: 100%;
        height: auto;
        padding-top: 99px;
      }
    }

    .top-image {
      width: 100%;
      height: 236px;
      background: url(../images/service-mainvisual.png) center center / cover no-repeat;
      position: relative;
      z-index: 3;
      @include max-screen(768px){
        display: none;
      }
      img {
        position: absolute;
        width: 364px;
        height: 33px;
        top: 100px;
        @include max-screen(768px){
          display: none;
        }

      }
    }












    .sp-case {
      display: none;
      @include max-screen(768px){
        display: block;
        margin-top: 15px;
      }
      .case-text-sp {

        margin-bottom: 15px;
        width: 100%;
        text-align: center;
        h2 {
          font-size: 17px;
          font-weight: bold;
          color: #EA993F;
        }
      }

      ul {
        li {
          margin-top: 10px;
          figure {
            position: relative;
            @include pie-clearfix;
            img {
              width: 75px;
              height: 75px;
              float: left;
              position: absolute;
              left: 0;
              z-index: 2;
            }
            figcaption {
              width: 100%;
              height: 75px;
              background-image: linear-gradient(to right, #EA993F, #EA993F, #fff);
              padding-left: 90px;
              position: relative;
              display: table;
              p {
                color: #FFF;
                display: table-cell;
                vertical-align: middle;
                line-height: 18px;
                font-weight: bold;
                font-size: 12px;
                z-index: 10;
                //position: absolute;
                //top: 50%;
                //transform: translateY(-50%);
              }
              &:after {
                content: "";
                background: url(../images/white-arrow-background2.png) center center / cover no-repeat;
                width: 18px;
                height: 18px;
                display: block;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }



        .accordion {
          .h3-box {
            padding-left: 20px;
            display: table;
            height: 68.5px;
            width: 100%;
            background-image: linear-gradient(to right, #F8F0D7, #F8F0D7, #fff);
            h3 {
              display: table-cell;
              vertical-align: middle;
              font-weight: bold;
              line-height: 1.416666;
              color: #814F36;
              font-size: 12px;
            }
          }
          .middle-box {
            padding: 0 20px;
            .first-h4 {
              margin-top: 18px;
            }
            h4 {
              font-weight: bold;
              color: #EA993F;
              font-size: 12px;
              margin-left: 15px;
              position: relative;
              &:before {
                content: "";
                background: #EA993F;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                display: block;
                position: absolute;
                left: -15px;
              }
            }
            p {
              font-size: 12px;
              line-height: 1.75;
              margin-top: 8px;
              margin-bottom: 25px;

            }
          }
          .bottom-box {
            p {
              font-weight: bold;
              color: #814F36;
              position: relative;
              font-size: 12px;
              line-height: 1.5em;
              padding-left: 70px;
              &:before {
                content: "";
                display: block;
                position: absolute;
                background: url(../images/company-mark.png) center center / cover no-repeat;
                width: 40px;
                height: 43px;
                left: 10px;
                top: 10px;
              }
            }
            .nenkin {
              top:5px;
              &:before {
                content: "";
                display: block;
                position: absolute;
                background: url(../images/company-mark.png) center center / cover no-repeat;
                width: 40px;
                height: 43px;
                left: 10px;
                top: -10px;
              }
            }
          }

          .bar {
            background-image: linear-gradient(to right, #EA993F, #EA993F, #fff);
            width: 100%;
            height: 5px;
            margin-top: 10px;
            margin-bottom: 53px;
          }



        }






      }




    }



















    .case {
      margin-bottom: 120px;
      @include max-screen(768px){
        display: none;
      }
      .case-text {
        height: 45px;
        width: 100%;
        background: linear-gradient(to right, #EA993F, #EA993F, #fff);
        padding-top: 10px;
        padding-left: 20px;
        color: #FFF;
        margin-bottom: 55px;
        margin-top: 75px;
        position: relative;
        &:after {
          content: "";
          display: block;
          background: url(../images/image01-1.png) center bottom / cover no-repeat;
          width: 160px;
          height: 160px;
          border-radius: 50%;
          position: absolute;
          top: -170%;
          right: 0;
        }
        h2 {
          font-size: 25px;
          font-weight: bold;
        }
      }
      ul {
        @include pie-clearfix;
        li {
          width: 486px;
          height: 100px;
          float: left;
          margin-bottom: 27px;
          //margin-right: 14px;
          position: relative;
          &:nth-of-type(2n+1) {
            margin-right: 28px;
          }
          &:after {
            content: "";
            display: block;
            background: url(../images/white-arrow-background.png) center center / cover no-repeat;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 40%;
            right: 18px;
          }
          img {
            float: left;
            width: 100px;
            height: 100px;
          }
          .case-text2 {
            float: left;
            height: 100px;
            width: 386px;
            display: table;
            padding-left: 15px;
            background: linear-gradient(to right, #F9E0C5, #F8F0D7, #fff);
            p {
              font-size: 16px;
              font-weight: bold;
              display: table-cell;
              vertical-align: middle;
              margin-left: 15px;
              line-height: 1.8em;
              color: #814F36;
            }
          }
        }
      }


    }






    .case-box {
      margin-bottom: 100px;
      @include max-screen(768px){
        display: none;
      }
      .top-case-box {
        @include pie-clearfix;
        img {
          width: 100px;
          height: 100px;
          float: left;
        }
        .top-case-box-right {
          width: 900px;
          height: 100px;
          float: right;
          h3 {
            background: linear-gradient(to right, #EA993F, #EA993F, #fff);
            padding-top: 15px;
            padding-left: 25px;
            color: #FFF;
            height: 50px;
            font-size: 20px;
            font-weight: bold;
          }
          p {
            //height: 50px;
            font-size: 17px;
            font-weight: bold;
            padding: 16.5px;
            padding-left: 50px;
            color: #814F36;
            background: linear-gradient(to right, #fff, #F8F0D7, #F8F0D7, #fff);
            position: relative;
            &:before {
              content: "";
              display: block;
              width: 24px;
              height: 24px;
              background: url(../images/white-arrow-background.png) center center / cover no-repeat;
              position: absolute;
              left: 12px;
              top: 14px;
            }
          }
        }
      }


      .middle-case-box {
        width: 900px;
        float: right;
        margin-top: 32px;
        @include pie-clearfix;
        h4 {
          font-size: 15px;
          font-weight: bold;
          padding: 10px 8px;
          margin-bottom: 20px;
          color: #814F36;
          background: linear-gradient(to right, #F9E0C5, #F8F0D7, #fff);
        }

        p {
          margin-bottom: 45px;
          font-size: 14px;
          line-height: 1.6em;
          .orange {
            color: #EA993F;
            font-weight: bold;
          }
        }

        .number {
          @include pie-clearfix;
          margin-bottom: 40px;
          .number1 {
            float: left;
            p {
              margin-bottom: 0;
            }
          }
          .number2 {
            float: left;
            margin-left: 80px;
            p {
              margin-bottom: 0;
            }
          }
        }

      }







      .bottom-case-box {
        width: 100%;
        height: 86px;
        clear: both;
        position: relative;
        top: -35px;
        display: table;
        @include pie-clearfix;
        p {
          float: left;
          color: #814F36;
          font-size: 17px;
          font-weight: bold;
          line-height: 1.7em;
          margin-left: 100px;
          position: relative;
          top: 20px;
          display: table-cell;
          vertical-align: middle;
          &:before {
            content: "";
            width: 55px;
            height: 55px;
            display: inline-block;
            background: url(../images/mark.png) center center / cover no-repeat;
            position: absolute;
            left: -65px;
            top: -8px;
          }
        }
        .line1 {
          top:35px;
          &:before {
            content: "";
            width: 55px;
            height: 55px;
            display: inline-block;
            background: url(../images/mark.png) center center / cover no-repeat;
            position: absolute;
            left: -65px;
            top: -20px;
          }
        }
        .bottom-right {
          float: right;

          //margin-bottom: 10px;
          p {
            float: none;
            display: block;
            border-radius: 8px;
            //padding: 10px;
            width: 150px;
            height: 32px;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 10px;
          }
          .soudan {
            background: #73C0D5;
            //padding-bottom: 20px;
            position: relative;
            top: -3px;
            letter-spacing: 0.07em;
            padding: 5px;
            padding-left: 35px;

            &:before {
              content: "";
              display: inline-block;
              background: url(../images/mail-icon.png) center center / cover no-repeat;
              width: 20px;
              height: 15px;
              //margin-right: 10px;
              position:absolute;
              left: 10px;
              top: 8px;
            }
          }
          .ryoukin {
            background: #EA993F;
            padding: 5px;
            letter-spacing: 0.2em;
            position: relative;
            padding-left: 35px;
            top: -3px;
            &:before {
              content: "";
              display: inline-block;
              background: url(../images/yen.png) center center / cover no-repeat;
              width: 14px;
              height: 18px;
              position: absolute;
              left: 13px;
              top: 7px;
            }
          }
        }
      }


      .bar {
        width: 100%;
        height: 7px;
        background: linear-gradient(to right, #EA993F, #EA993F, #fff);
        position: relative;
        top: -35px;
      }










    }









    .bottom-contents {
      @include pie-clearfix;
      //padding-top: 70px;
      margin-bottom: 65px;


      .sp-bottom-contents {
        display: none;
        @include max-screen(768px){
          display: block;
          @include pie-clearfix;
          margin-bottom: 25px;
          margin-top: 25px;
        }
        .muryou {
          text-align: center;
          background: #73C0D5;
          width: 48%;
          height: 45px;
          float: left;
          display: table;
          position: relative;
          border-radius: 8px;
          &:before {
            content: "";
            background: url(../images/mail-icon.png) center center / cover no-repeat;
            width: 20px;
            height: 15px;
            position:absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
          }
          p {
            font-size: 12px;
            font-weight: bold;
            color: #FFF;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .ryoukin {
          text-align: center;
          background: #EA993F;
          width: 48%;
          height: 45px;
          float: right;
          display: table;
          position: relative;
          border-radius: 8px;
          &:before {
            content: "";
            background: url(../images/yen.png) center center / cover no-repeat;
            width: 14px;
            height: 18px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
          }
          p {
            font-size: 12px;
            font-weight: bold;
            color: #FFF;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }



      .ask {
        width: 420px;
        height: 50px;
        border-radius: 14px;
        background: #73C0D5;
        padding-top: 15px;
        padding-left: 80px;
        float: left;
        position: relative;
        top: 40px;
        @include max-screen(768px){
          display: none;
        }
        p {
          color: #fff;
          font-size: 22px;
          font-weight: bold;
          position: relative;
          &:before {
            content: "";
            display: block;
            background: url(../images/mail-icon.png) center center / cover no-repeat;
            width: 30px;
            height: 20px;
            position: absolute;
            left: -40px;
          }
        }
      }
      .a-reason{
        .sp-reason {
          display: none;
          @include max-screen(768px){
            display: block;
            width: auto;
          }
        }
      .reason {
        float: right;
        width: 450px;
        height: 130px;
        background: #EA993F;
        padding: 10px;
        @include max-screen(768px){
          float: none;
          position: relative;
          width: 100%;
          height: 100%;
          padding: 32% 0 0;
          display: none;
        }

        .reason-inner {
          @include max-screen(768px){
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #EA993F;
          @include pie-clearfix;
        }

        img {
          width: 110px;
          height: 110px;
          float: left;
            @include max-screen(768px){
              width: 28%;
              height: 88%;
              margin: 2%;
            }
        }
        .reason-right {
          float: right;
          text-align: center;
          width: 310px;
          color: #FFF;
          @include max-screen(768px){
          width: 60%;

          }
          .customer-voice {
            font-size: 13px;
            font-weight: bold;
            padding-bottom: 15px;
            margin-top: 10px;
            border-bottom: 1px solid #fff;
            width: 260px;
            position: relative;
            left: 25px;

            &:before {
              content: "";
              display: inline-block;
              width: 50px;
              height: 35px;
              background: url(../images/icon03.png) center center / cover no-repeat;
              position: relative;
              top: 5px;
              left: -3px;
            }
          }
          .customer-reason {
            font-size: 19px;
            font-weight: bold;
            letter-spacing: 0.15em;
            padding-top: 10px;
            &:after {
              content: "";
              display: inline-block;
              background: url(../images/white-arrow.png) center center / cover no-repeat;
              width: 10px;
              height: 18px;
              position: relative;
              left: 27px;
              top: 3px;
            }
          }
        }
      }
      }
    }

    }














      .container1000 {
        width: 1000px;
        margin: 0 auto;
        @include max-screen(768px){
          width: 100%;
          padding: 0 15px;
        }
      }








  }
}
