@charset 'UTF-8';
#wrap {
  @include max-screen(1100px){
          width: 1100px;
        }
  @include max-screen(768px){
          width: 100%;
        }
  main {
    margin: 0 20px;
    background: url(../images/bg.png);
    @include max-screen(768px){
          margin: 0;
        }
    .main-images {
      width: 100%;
      .slider-image {
        li {
          width: 100%;
          a {
            img {

            }
          }
        }
      }
      .slider-navi {
        li {
          width: 33.33333%;
          a {
            img {

            }
          }
        }
      }
    }
    .news {
       @include max-screen(768px){
         display: none;
       }
      .inner {
        max-width: 1000px;
        margin: 0 auto;
        .news-box {
          background: #FFF;
          border-radius: 4px;
          box-shadow: 0px 1px 1px gray;
          padding: 30px;
          display: table;
          width: 100%;
          @include pie-clearfix;
          .box-left {
            //float: left;
            width: 100px;
            padding-left: 15px;
            display: table-cell;
            vertical-align: middle;
            h2 {
              @include font-size(17);
              font-weight: bold;
              color: #444;
            }
          }
          .box-right {
            float: left;
            padding-left: 35px;
            border-left: 1px solid #dedede;
            width: 840px;
            ul {
              li {
                padding: 15px 0;
                border-bottom: 1px dashed #ccc;
                @include font-size(14);
                a {
                  color: #444;
                  span {
                    color: #fa6779;
                    margin-right: 15px;
                  }
                }
              }
            }
            p {
              text-align: right;
              margin-top: 15px;
              @include font-size(15);
              font-weight: bold;
              a {
                position: relative;
                margin-right: 13px;
                color: #444;
                &:after {
                  content: "";
                  background: url(../images/arrow_right_p.svg);
                  width: 5px;
                  height: 9px;
                  position: absolute;
                  right: -13px;
                  top: 50%;
                  transform: translateY(-35%);
                }
              }
            }
          }
        }
      }
    }
    .guest {
      margin-top: 60px;
      .inner {
        max-width: 1000px;
        margin: 0 auto;
        h2 {
          text-align: center;
          @include font-size(52);
          font-weight: bold;
          color: #444;
          @include max-screen(768px){
            @include font-size(35);
          }
          img {
            width: 100px;
            margin: 0 auto;
            margin-top: 20px;
            @include max-screen(768px){
              width: 75px;
              margin-top: 10px;
            }
          }
        }
        .guest-menu {
          margin-top: 30px;
          ul {
            text-align: center;
            li {
              margin: 13px;
              display: inline-block;
              a {
                @include font-size(16);
                font-weight: bold;
                color: #808080;
                letter-spacing: 0.05em;
                position: relative;
                &:after {
                  position: absolute;
                  bottom: -17px;
                  left: 0;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #faaab4;
                  opacity: 0;
                  //visibility: hidden;
                  transition: .3s;
                }
                &:hover {
                  color: #000;
                  &:after {
                    bottom: -10px;
                    opacity: 1;
                    //visibility: visible;
                  }
                }
              }
            }
          }
        }
        .guest-picture.on {
          display: block;
        }
        .guest-picture {
          @include pie-clearfix;
          min-width: 1000px;
          padding-right: 40px;
          display: none;
          @include max-screen(768px){
                  min-width: 0px;
                  width: auto;
                  margin: 0 15px;
                  padding-right: 8px;
                }
          ul {
            @include max-screen(768px){
                margin-right: 4px;
              }
            .last-child {
              margin-right: -40px;
              @include max-screen(768px){
                  margin-right: 4px;
                }
            }
            .sp-last-child {
            @include max-screen(768px){
                margin-right: 0px;
                margin-right: -8px;
              }
            }
            li {
              width: 20%;
              float: left;
              text-align: center;
              margin-top: 20px;
              margin-right: 10px;
              @include max-screen(768px){
                width: 33.33333%;
                margin-right: 4px;
              }
              figure {
                a {
                  position: relative;
                  display: block;
                  border: 3px solid #000;
                  overflow: hidden;
                  &:before {
                    content: "";
                    background: url(../images/tag03.svg) left bottom / contain no-repeat;
                    display: block;
                    width: 92px;
                    height: 28px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 2;
                  }
                  &:after {
                    content: "";
                    background: url(../images/kobecollection.svg) center center / contain no-repeat;
                    display: block;
                    width: 60px;
                    height: 28px;
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    z-index: 2;
                  }
                  img {
                    //width: 100%;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                    -moz-transition: -moz-transform 0.3s linear;
                    -webkit-transition: -webkit-transform 0.3s linear;
                    -o-transition: -o-transform 0.3s linear;
                    -ms-transition: -ms-transform 0.3s linear;
                    transition: transform 0.3s linear;
                    &:hover {
                      -webkit-transform: scale(1.1);
                      -moz-transform: scale(1.1);
                      -o-transform: scale(1.1);
                      -ms-transform: scale(1.1);
                      transform: scale(1.1);
                    }
                  }
                }
                .artist {
                  &:before {
                    content: "";
                    background: url(../images/tag01.svg) left bottom / contain no-repeat;
                    display: block;
                    width: 92px;
                    height: 28px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 2;
                  }
                }
                .special-guest {
                  &:before {
                    content: "";
                    background: url(../images/tag02.svg) left bottom / contain no-repeat;
                    display: block;
                    width: 92px;
                    height: 28px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 2;
                  }
                }
                figcaption {
                  @include font-size(16);
                  color: #444;
                  margin-top: 12px;
                }
              }
            }
          }
        }
        .view-all {
          @include font-size(18);
          margin-top: 50px;
          @include max-screen(768px){
            @include font-size(14);
            margin-top: 25px;
          }
          a {
            text-align: center;
            background: #f55b6a;
            display: block;
            width: 213px;
            border-radius: 30px;
            color: #FFF;
            margin: 0 auto;
            padding: 20px 0;
            letter-spacing: 0.03em;
            @include max-screen(768px){
              padding: 17px 0;
            }
            &:hover {
              border-radius: 0px;
            }
          }
        }
      }
    }
    .brand {
      margin-top: 70px;
      padding-top: 80px;
      padding-bottom: 80px;
      background: url(../images/bg02.png);
      @include max-screen(768px){
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
      }
      h2 {
        text-align: center;
        @include font-size(52);
        font-weight: bold;
        color: #444;
        font-family: "gothambold1" !important;
        @include max-screen(768px){
          @include font-size(35);
        }
        img {
          width: 100px;
          margin: 0 auto;
          margin-top: 20px;
          @include max-screen(768px){
            width: 75px;
            margin-top: 10px;
          }
        }
      }
      .brand-menu {
        margin: 0 20px;
        margin-top: 40px;
        @include max-screen(768px){
          margin-top: 20px;
        }
        ul {
          @include pie-clearfix;
          margin-left: -4px;
          @include max-screen(768px) {
            margin-left: -10px;
          }
          li {
            width: 14.28571%;
            float: left;
            padding-left: 4px;
            @include max-screen(768px) {
              width: 33.33333%;
              padding-left: 10px;
              margin-top: 10px;
            }
            a {
              display: block;
              &:hover {
                opacity: 0.5;
              }
              img {

              }
            }
          }
        }
      }
      .view-all {
        @include font-size(18);
        margin-top: 50px;
        @include max-screen(768px){
          @include font-size(14);
          margin-top: 25px;
        }
        a {
          text-align: center;
          background: #f55b6a;
          display: block;
          width: 213px;
          border-radius: 30px;
          color: #FFF;
          margin: 0 auto;
          padding: 20px 0;
          letter-spacing: 0.03em;
          @include max-screen(768px){
            padding: 17px 0;
          }
          &:hover {
            border-radius: 0px;
          }
        }
      }
    }
    .social-network {
      padding-top: 90px;
      padding-bottom: 60px;
      @include max-screen(768px){
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .inner {
        @include max-screen(768px){
          margin: 0 30px;
        }
        h2 {
          text-align: center;
          @include font-size(52);
          font-weight: bold;
          color: #444;
          @include max-screen(768px){
            @include font-size(35);
          }
          span {
            color: #fa8593;
            display: block;
            @include font-size(21);
            font-weight: normal;
            margin-top: 7px;
            @include max-screen(768px){
              @include font-size(14);
              margin-top: 10px;
            }
          }
        }
        p {
          text-align: center;
          @include font-size(16);
          margin-top: 50px;
          line-height: 1.7em;
          @include max-screen(768px){
            @include font-size(14);
            margin-top: 20px;
            letter-spacing: 0.03em;
          }
        }
        .ig-link {

        }
        .bana {
          width: auto;
          margin: 0 25px;
          margin-top: 70px;
          @include max-screen(768px){
            margin-left: 0px;
            margin-right: 0px;
          }
          ul {
            @include pie-clearfix;
            li {
              width: 48.8%;
              float: left;
              &:last-child {
                margin-left: 2.4%;
              }
              a {
                display: block;
                &:hover {
                  opacity: 0.8;
                }
                img {

                }
              }
            }
          }
        }
      }
    }
  }
}
