@charset 'UTF-8';
body#voice{
  main {
    color: #3C3C3C;
    @include max-screen(768px){
      width: 100%;
    }
    .top-image {
      width: 100%;
      height: 236px;
      background: url(../images/voice-mainvisual.png) center center / cover no-repeat;
      @include max-screen(768px){
        display: none;
      }
      .inner {
        max-width: 1000px;
        height: 236px;
        margin: 0 auto;
        position: relative;
        @include max-screen(768px){
          width: auto;
        }
        .pc-top-image {
          width: 200px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          @include max-screen(768px){
            width: auto;
          }
        }
      }
    }
    .sp-top-image {
      display: none;
      @include max-screen(768px){
        display: block;
        width: 100%;
        padding-top: 89px;
      }
    }

    .voice-list {
      max-width: 1000px;
      margin: 0 auto;
      @include max-screen(768px){
        width: auto;
        margin: 0 15px;
        margin-bottom: 50px;
      }

      .company {
        padding: 15px 18px;
        background: linear-gradient(to right, #EA993F, #EA993F, #fff);
        position: relative;
        margin-top: 120px;
        @include max-screen(768px){
          padding: 9px 7px;
          margin-top: 35px;
        }
        h2 {
          @include font-size(22);
          font-weight: bold;
          color: #FFF;
          @include max-screen(768px){
            @include font-size(13);
          }
          span {
            @include font-size(16);
            font-weight: bold;
            color: #FFF;
            margin-left: 20px;
            @include max-screen(768px){
              display: block;
              @include font-size(12);
              margin-left: 0px;
              font-weight: normal;
              margin-top: 7px;
            }
          }
        }
      }
      .vol1 {
        &:after {
          content: "";
          background: url(../images/image01-3.png) left bottom / cover no-repeat;
          display: block;
          width: 210px;
          height: 210px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          @include max-screen(768px){
            width: 91.5px;
            height: 97.5px;
            right: -15px;
            overflow: hidden;
          }
        }
      }
      .vol2 {
        &:after {
          content: "";
          background: url(../images/image02-3.png) left bottom / cover no-repeat;
          display: block;
          width: 210px;
          height: 210px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          @include max-screen(768px){
            width: 91.5px;
            height: 97.5px;
            right: -15px;
            overflow: hidden;
          }
        }
      }
      .vol3 {
        &:after {
          content: "";
          background: url(../images/image03-2.png) left bottom / cover no-repeat;
          display: block;
          width: 210px;
          height: 210px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          @include max-screen(768px){
            width: 91.5px;
            height: 97.5px;
            right: -15px;
            overflow: hidden;
          }
        }
      }
      ul {
        margin-top: 18px;
        margin-bottom: 35px;
        li {
          @include font-size(14);
          font-weight: bold;
          color: #814F36;
          margin-bottom: 7px;
          @include max-screen(768px){
            @include font-size(12);
          }
          &:before {
            content: "";
            background: #EA993F;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            margin-right: 5px;
            display: block;
            float: left;
          }
          a {
            border-bottom: 1px solid #EA993F;
            padding-bottom: 5px;
            margin-left: 10px;
            color: #EA993F;
          }
        }
      }
      .question {
        height: 35px;
        background: #F7EED2;
        position: relative;
        @include max-screen(768px){
          height: 32px;
        }
        h3 {
          @include font-size(17);
          color: #814F36;
          font-weight: bold;
          position: absolute;
          left: 8px;
          top: 50%;
          transform: translateY(-50%);
          @include max-screen(768px){
            @include font-size(12);
            left: 30px;
          }
          &:before {
            content: "";
            background: url(../images/q-icon.png) center center / cover no-repeat;
            width: 20px;
            height: 23px;
            display: block;
            float: left;
            margin-right: 15px;
            @include max-screen(768px){
              width: 17px;
              height: 20px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: -22px;
            }
          }
        }
      }
      p {
        @include font-size(14);
        margin-top: 15px;
        margin-bottom: 55px;
        line-height: 1.5em;
        @include max-screen(768px){
          margin-bottom: 22px;
        }
      }
    }


    .ask {
      width: 420px;
      height: 48px;
      background: #73C0D5;
      border-radius: 13px;
      padding-top: 15px;
      margin: 0 auto;
      margin-top: 65px;
      margin-bottom: 90px;
      @include max-screen(768px){
        width: auto;
        margin: 0 15px;
        position: relative;
        margin-top: 50px;
        margin-bottom: 60px;
      }
      p {
        font-size: 21px;
        font-weight: bold;
        color: #FFF;
        position: relative;
        padding-left: 90px;
        letter-spacing: 0.06em;
        @include max-screen(768px){
          font-size: 17px;
          position: static;
          padding-left: 10%;
          text-align: center;

        }
        &:before {
          content: "";
          background: url(../images/mail-icon.png) center center / cover no-repeat;
          width: 32px;
          height: 24px;
          display: block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10%;
          @include max-screen(768px){
            left: 7%;
            width: 23px;
            height: 18px;
          }
        }
      }
    }













  }
}
