@charset 'UTF-8';

$main_color: #030303;
$sub_color: #aa9696;
$brown_color: #c69c6d;
$mincho_font: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
$arnopro_font: 'ArnoPro';
$primary_font: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
//==================================================
// base
//==================================================
html {
	font-family: $primary_font;
	font-size: 62.5%; // Sets up the Base 10 stuff
	font-weight: 300;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
body {
	font-family: $primary_font;
	padding: 0;
	margin: 0 auto;
	color: $main_color;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:focus {
		outline: none;
	}
}
a {
	color: $main_color;
	text-decoration: none;
	@include transition(all .3s);
	&:hover {
		//opacity: 0.7;
        //color: #ffedf2;
		//text-decoration: none;
	}
	&:link,
	&:active,
	&:visited {
		text-decoration: none;
	}
	&:hover,
	&:focus {
		outline: none;
		color: initial;
        color: #000;
	}
}
ul, ol {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	max-height: none;
	vertical-align: middle;
	display: block;
}
button:focus, input:focus, select:focus, textarea:focus {
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 400;
}
p {
	margin: 0;
}
.row {
	@include pie-clearfix;
}

.visible-sp {
	display: none;
	@include max-screen(768px) {
		display: block;
	}
}
.hidden-sp {
	@include max-screen(768px) {
		display: none;
	}
}

.inner{
	max-width: 1155px;
	//センターに揃える
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	//センターに揃える
}

.image{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
/* = Selected Text
----------------------------------------------- */
::selection {
}

::-moz-selection {
}
