@charset 'UTF-8';

 footer {
   color: #444;
   @include max-screen(1100px){
          width: 1100px;
        }
   @include max-screen(768px){
     width: 100%;
   }
   .footer-top {
     max-width: 1000px;
     margin: 0 auto;
     .inner {
       @include pie-clearfix;
       .footer-content {
         float: left;
         margin-right: 40px;
         margin-top: 50px;
         &:last-child {
           margin-right: 0;
         }
         p {
           @include font-size(16);
           font-weight: bold;
           margin-bottom: 30px;
           font-family: "gothambold1" !important;
         }
         ul {
           li {
             a {
               @include font-size(13);
             }
           }
         }
       }
       .menu {
         @include pie-clearfix;
         p {

         }
         ul {
           float: left;
           margin-right: 40px;
           &:last-child{
             margin-right: 0;
           }
           li {
             margin-bottom: 14px;
             a {

             }
           }
         }
       }
       .information {
         @include pie-clearfix;
         p {

         }
         ul {
           float: left;
           margin-right: 40px;
           &:last-child{
             margin-right: 0;
           }
           li {
             margin-bottom: 14px;
             a {

             }
           }
         }
       }
       .sns {
         p {

         }
         ul {
           @include pie-clearfix;
           li {
             float: left;
             margin-right: 18px;
             a {
               img {
                 width: 19px;
                 height: 19px;
               }
               .youtube {
                 width: 24px;
                 height: 18px;
               }
             }
           }
         }
       }

     }
   }
   .footer-middle {
     margin: 0 auto;
     margin-top: 31px;
     border-top: 1px solid #e6e6e6;
     max-width: 1000px;
     padding: 45px 0;
     @include font-size(14);
     @include pie-clearfix;
     .inner {
       float: left;
       p {
         margin-bottom: 1em;
         span {
           font-weight: bold;
         }
       }
     }
     .sns-icon {
       float: right;
       ul {
         @include pie-clearfix;
         li {
           float: left;
         }
       }
     }
   }
   .footer-bottom {
     background: #000;
     padding: 28px 0;
     p {
       color: #fff;
       font-weight: bold;
       @include font-size(11);
       letter-spacing: 0.2em;
       text-align: center;
     }
   }
  }
