@charset 'UTF-8';

header {
  width: 100%;
  @include max-screen(1100px) {
    width: 1100px;
  }
  @include max-screen(768px){
      width: 100%;
  }
  .header-top {
    background: #000;
    color: #FFF;
    padding: 20px 0;
    @include font-size(15);
    font-weight: bold;
    text-align: center;
    position: relative;
    @include max-screen(768px){
        display: none;
      }
    .date {
      @include max-screen(1100px){
          margin-left: 30px;
          text-align: left;
        }
      p {
        @include font-size(17);
        letter-spacing: 0.05em;
      }
    }
    .ticket {
      position: absolute;
      top: 0;
      right: 0;
      background: #fa6779;
      padding: 21px 35px 21px 0;
      a {
        height: 59px;
        &:before {
          position: absolute;
          left: -50px;
          top: -102px;
          width: 0;
          height: 0;
          border: 59px solid transparent;
          border-bottom: 100px solid #fa6779;
          content: "";
        }
        p {
          color: #FFF;
          position: relative;
          z-index: 99;
          letter-spacing: 0.05em;
          &:after {
            content: "";
            background: url(../images/arrow_right.svg) center center / cover no-repeat;
            width: 6px;
            height: 10px;
            position: absolute;
            right: -12px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .header-middle {
    padding: 45px 0;
    margin: 0 30px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    @include max-screen(768px){
        margin: 0;
        padding: 20px 0;
        position: fixed;
        top: 0;
        width: 100%;
        background: #FFF;
        z-index: 99;
      }
    .sp-bell {
      display: none;
      @include max-screen(768px){
      display: block;
      width: 20px;
      height: 23.5px;
      position: absolute;
      top: 50%;
      left: 6%;
      transform: translateY(-50%);
      }
      a {
        display: block;
        position: relative;
        img {

        }
        .no2 {
          &:after {
            content: "2";
            background: #fa6779;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: block;
            color: #FFF;
            text-align: center;
            line-height: 15px;
            font-weight: bold;
            position: absolute;
            top: -2px;
            right: -7px;
          }
        }
      }
    }
    .logo {
      margin: 0 auto;
      @include max-screen(768px){
          width: 70%;
        }
      h1 {
        a {
          img {
            width: 335px;
            height: 52px;
            margin: 0 auto;
            @include max-screen(768px){
              width: 85%;
              height: auto;
              }
          }
        }
      }
    }
    .info {
      width: 33px;
      height: 30px;
      position: absolute;
      top: 52px;
      right: 10px;
      cursor : pointer;
      @include max-screen(768px){
          display: none;
        }
    }
    .side-menu {
      position: fixed;
      width: 320px;
      height: 100%;
      background: rgba(255,255,255,0.95);
      right: -320px;
      top: 0;
      z-index: 3;
      padding: 0 40px;
      padding-top: 100px;
      .close-btn {
        width: 25px;
        position: absolute;
        right: 55px;
        display: block;
        cursor : pointer;
      }
      .infomation {
        margin-top: 80px;
        text-align: center;
        img {
          width: 226px;
        }
      }
      .side-menu-list {
        margin-top: 30px;
        ul {
          li {
            padding: 30px 0;
            text-align: center;
            border-bottom: 1px dashed #444;
            a {
              @include font-size(18);
              font-weight: bold;
              letter-spacing: 0.02em;
              color: #444;
            }
          }
        }
        .side-menu-bana {
          margin-top: 35px;
        }
      }
    }
    .sp-menu {
      display: none;
      @include max-screen(768px) {
        display: block;
        width: 22.5px;
        height: 25px;
        position: absolute;
        top: 45%;
        right: 20px;
      }
      a {
        display: block;
        width: 22.5px;
        height: 25px;
        span {
          width: 22.5px;
          height: 2.5px;
          background: #000;
          position: relative;
          display: block;
          &:after {
            content: "";
            width: 22.5px;
            height: 2.5px;
            position: absolute;
            bottom: -8px;
            display: block;
            background: #000;
          }
        }
      }
    }
  }
  .gNavi.fixed {
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #e6e6e6;
    z-index: 99;
  }
  .gNavi {
    width: 100%;
    text-align: center;
    background: #FFF;
    @include max-screen(768px){
        display: none;
    }
    ul {
      @include pie-clearfix;
      text-align: left;
      display: inline-block;
      padding: 30px 0;
      li {
        float: left;
        margin-left: 31px;
        &:first-child {
          margin-left: 0px;
        }
        a {
          color: #999;
          //font-weight: bold;
          @include font-size(13);
          letter-spacing: 0.02em;
          font-family: "gothambold1" !important;
        }
      }
    }
  }
  .sp-top {
    display: none;
    @include max-screen(768px) {
      display: block;
      margin-top: 150px;
      text-align: center;
    }
    p {
      @include font-size(23);
      line-height: 1.7em;
      font-weight: bold;
      span {
        @include font-size(33);
      }
    }
    .ticket-butun {
      display: table;
      margin: 5px auto;
      margin-bottom: 28px;
      a {
        color: #FFF;
        background: #fa6779;
        border-radius: 8px;
        font-weight: bold;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 300px;
        height: 45px;
        @include font-size(15);
        position: relative;
        &:after {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          background: url(../images/arrow_right.svg) center center / cover no-repeat;
          width: 5px;
          height: 8px;
          display:block;
        }
      }
    }
  }
}
